<div class="footer">
    <a href="{:U('Home/Index/index', array('agent' => AGETN_ID))}">
        <img class="shadow" src="__STYLE__/img/index_icon.png">
        <img class="light" src="__STYLE__/img/index_icon_on.png">
        <span>首页</span>
    </a>
    <a class="on" href="{:U('Home/Recommended/index', array('agent' => AGETN_ID))}">
        <img class="shadow" src="__STYLE__/img/tuijian_icon.png">
        <img class="light" src="__STYLE__/img/tuijian_icon_on.png">
        <span>推荐</span>
    </a>
    <a href="{:U('Agent/Index/index')}">
        <img class="shadow" src="__STYLE__/img/us_icon.png">
        <img class="light" src="__STYLE__/img/us_icon_on.png">
        <span>我的</span>
    </a>
</div>
