<!DOCTYPE html>
<html>
<head>
	<title>修改密码</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="__STYLE__/css/public.css">
	<link rel="stylesheet" type="text/css" href="__STYLE__/css/modify_password.css">
	<script type="text/javascript" src="__STYLE__/js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="__STYLE__/layer/layer.js"></script>
	<script>
		document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
		$(window).resize(function () {  
			document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
		 }) 
	</script>
</head>
<body>
	<div class="header">
		<a class="back" href="javascript:history.go(-1)"><img src="__STYLE__/img/back_last.png"></a>
		<i class="line"></i>
		<h3>修改密码</h3>
	</div>

	<div class="content">
		<form id="imageUploadForm">
			<label>
				<span>原密码</span>
				<input class="old_password" type="password" name="old_password" placeholder="请输入原密码">
			</label>
			<label>
				<span>修改密码</span>
				<input class="new_password" type="password" name="new_password" placeholder="请输入修改密码">
			</label>
			<label>
				<span>确认密码</span>
				<input class="new_password_check" type="password" name="new_password_check" placeholder="请再次输入修改密码">
			</label>

			<button class="submit" id="ImageBrowse" type="button">保存</button>
		</form>
	</div>

</body>
</html>
<script type="text/javascript">
$(document).ready(function (e) {
    $('#imageUploadForm').on('submit',(function(e) {
    	var old_password=$('.old_password').val();
	    var new_password=$('.new_password').val();
	    var new_password_check=$('.new_password_check').val();
	    if(old_password==''){
	        layer.msg('请输入原密码！')
	         return false; 
	    }
	    if(new_password==''){
	        layer.msg('请输入修改密码！')
	         return false; 
	    }
	    if(new_password_check==''){
	        layer.msg('请再次输入修改密码！')
	         return false; 
	    }
	    if(new_password_check !=new_password){
	        layer.msg('修改密码前后不一致！')
	        return false; 
	    }


        var formData = new FormData(this);
        e.preventDefault();
        $.ajax({
            type:'POST',
            url: '',
            data:formData,
            // cache:false,
            contentType: false,
            processData: false,

            success:function(data){
            	console.log(data)
               if(data.res == 1){
					layer.msg(data.msg)
               		window.location.href="{:U('Config/index')}";
               }else{
               
					layer.msg(data.msg)
               }
            },
            error: function(data){
                layer.msg('网络错误！')
            }
        });
    }));

    $("#ImageBrowse").on("click", function() {
        $("#imageUploadForm").submit();
    });


    $(document).keydown(function(event){ 
        if(event.keyCode == 13){
        	$("#imageUploadForm").submit();
        } 
     }); 
});

</script>