<include file="Public/header" /> <!-- 头部 -->
<div class="content">
<include file="Public/left" /> <!-- 左边 -->
<div class="right" style="height: 894px;">
	<div class="now" style="width: 1696px;">
		<a href="javascript:;" class="sel">修改分类</a>
		<div class="clear"></div>
	</div>
	<div class="right_main">
		<form method="post" action="__CONTROLLER__/editType">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wenzhang mat20 mab20">
		<tbody><tr>
			<td align="right" width="150" class="c666">分类名称：</td>
			<td><input type="text" name="info[name]" value="{$typeContent.name}" class="inputall input250"></td>
		</tr>
		<!-- <tr>
			<td align="right" class="c666">上级分类：</td>
			<td>
				<select name="info[category_pid]" class="inputselect" style="width:262px">
				<option value="0">=============== 无 ==============</option>
								<option value="49" disabled="disabled">妖精的口袋</option>
								<option value="50" disabled="disabled">　 ├ 衬衫</option>
								<option value="65" disabled="disabled">　 　　├ test_001</option>
								<option value="51" disabled="disabled">　 ├ 连衣裙</option>
								<option value="52" disabled="disabled">　 ├ T恤</option>
								<option value="53" disabled="disabled">　 ├ 上装</option>
								<option value="54" disabled="disabled">　 ├ 下装</option>
								<option value="55">韩都衣舍</option>
								<option value="56">　 ├ 连衣裙</option>
								<option value="57">　 ├ 裤装</option>
								<option value="58">　 ├ T恤</option>
								<option value="59">　 ├ 衬衫/雪纺</option>
								<option value="60">天美意</option>
								<option value="63">　 ├ 专柜同款</option>
								<option value="61">　 ├ 清爽凉鞋</option>
								<option value="62">　 ├ 浅口单鞋</option>
								<option value="64">　 ├ 深口单鞋</option>
								</select>
			</td>
		</tr> -->
		<tr>
			<td align="right" class="c666">分类排序：</td>
			<td><input type="text" name="info[sorting]" value="{$typeContent.sorting}" class="inputall input80"></td>
		</tr>
		<!-- <tr>
			<td align="right" class="c666">页面标题：</td>
			<td><input type="text" name="info[category_title]" value="phpshe商城系统" class="inputall input500"> <span class="c888">（SEO选项）</span></td>
		</tr>
		<tr>
			<td align="right" class="c666">页面关键词：</td>
			<td><input type="text" name="info[category_keys]" value="phpshe商城系统" class="inputall input500"> <span class="c888">（SEO选项）</span></td>
		</tr>
		<tr>
			<td align="right" class="c666">页面描述：</td>
			<td><textarea name="info[category_desc]" style="width:500px;height:100px;">phpshe商城系统</textarea> <span class="c888">（SEO选项）</span></td>
		</tr> -->
		<tr>
			<td>&nbsp;</td>
			<td>
                <input type="hidden" name="class_id" value="{$typeContent.class_id}">
				<input type="hidden" name="pe_token" value="bd51059fdada29bb1825bb398b66b863">
				<input type="submit" value="提 交" class="tjbtn">
			</td>
		</tr>
		</tbody></table>
		</form>
	</div>
</div>
	<div class="clear"></div>
	<!--<div class="foot">Copyright <span class="num">©</span> 2008-2014 <a target="_blank" href="http://www.phpshe.com">灵宝简好网络科技有限公司</a> 版权所有</div>-->
</div>
<script type="text/javascript">
$(function(){
	if ($(".right_bottom").height() == 0) {
		$(".right_bottom").remove();
	}
	if ($(".list tr").length > 1) {
		$(".right_main").css("padding-bottom", 0);
	}
	win_init();
	$(window).resize(function() {
		win_init();
	});
	if ($(".left .sel").length) {
		$(".left").scrollTop(localStorage.getItem('left_scrolltop'));
	}
	else {
		localStorage.setItem('left_scrolltop', 0);
	}
	$(".left").scroll(function(){
		localStorage.setItem('left_scrolltop', $(".left").scrollTop());
	})
	$(".list").find("td").hover(
		function(){
			if ($(this).hasClass("bgtt") || $(this).is("[nosel=1]")) return;
			$(this).parent("tr").children("td[nosel!=1]").css("background-color", "#fbfbfb");
		},
		function(){
			if ($(this).hasClass("bgtt") || $(this).is("[nosel=1]")) return;
			$(this).parent("tr").children("td[nosel!=1]").css("background-color", "#fff");
		}
	)
})
function win_init() {
	$(".left").add(".right").css("height", $(window).height() - $(".pagetop").height());
	$(".now").css("width", $(".right_main").outerWidth());
	//$(".right_main").css("height", $(window).height() -  $(".pagetop").height() - $(".now:eq(0)").outerHeight() - $(".right_bottom").outerHeight() + 38);
}
pe_loadscript("http://phpshe.com/demo/phpshe/index.php?mod=notice");
</script>

</body></html>
