<include file="Public/header" /> <!-- 头部 -->
<body style="background:#fff;padding:5px">
<form method="post" id="form" autocomplete="off">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wenzhang_bak">
<tbody><tr>
	<td align="right" class="bgtt" width="100">商品从</td>
	<td>
		<select name="category_id" class="inputselect">
            <option value="{$typeContent.brand_id}">{$typeContent.name}</option>
		</select>
	</td>
</tr>
<tr>
	<td align="right" class="bgtt">转移到</td>
	<td>
		<select name="category_newid" class="inputselect">
            <option value="0">请选择分类</option>
            <foreach name="typeData" item="v">
    			<option value="{$v.brand_id}">{$v.name}</option>
            </foreach>
		</select>
	</td>
</tr>
</tbody></table>
<div class="acenter mat20">
	<input type="hidden" name="pesubmit">
	<input type="hidden" name="pe_token" value="0a1f23ba1dc927c624b740dd555c29e5">
	<input type="submit" value="转 移" class="tjbtn">
</div>
</form>

</body></html>
