<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
		<title>{$goodData.name}</title>
		<link rel="stylesheet" href="__STYLE__/css/public.css" />
		<link rel="stylesheet" href="__STYLE__/css/proDetails.css" />
		<script type="text/javascript" src="__STYLE__/js/jquery-1.7.1.min.js" ></script>
		<script type="text/javascript" src="__STYLE__/layer/layer.js" ></script>
		<script>document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';</script>
	</head>
	<body>
		<div class="header">
			<div class="mg">
				<a class="goback" href="javascript:history.back();"><img src="__STYLE__/img/back.png"/></a>
				<h1>{$config['name']}</h1>
			</div>
		</div>
		<div class="contains">
			<div class="banner">
				<img src="{$goodData.images}"/>
			</div>
<!-- 商品id 如果是代理商-代理商id  颜色 数量 -->
			<div class="txtDetails">
				<div class="mg">
					<h1>{$goodData.name}</h1>
					<p>商品编号:{$goodData.goods_sn}</p>
					<span class="clear">
						<h2>￥<em>{$goodData.price}</em></h2>
						<a href="javascript:;"><img src="__STYLE__/img/share.png"/></a>
						<div class="collect">
                            <if condition="$goodData.isCollect eq 1">
                                <img onclick="layer.msg('你已经收藏过了！')" src="__STYLE__/img/collectA.png"/>
                                <b style="color: #7bc2ea;">{$goodData.collectNum}</b>
                            <elseif condition="$Think.session.AgentUser"/>
                                <img id="collectIco" src="__STYLE__/img/collect.png"/>
                                <b>{$goodData.collectNum}</b>
                            <else />
                                <a href="{:U('Agent/Index/index')}">
                                    <img  src="__STYLE__/img/collect.png"/>
                                </a>
                                <b>{$goodData.collectNum}</b>
                            </if>
						</div>
					</span>
				</div>
			</div>

			<div class="mySelect">
				<div class="mg clear">
					<h2>
						请选择<span><em>颜色</em><em>数量</em></span>
					</h2>
					<img src="__STYLE__/img/arrow.png"/>
				</div>
			</div>

			<div class="proDetails">
				<h1>商品详情页</h1>
				<div class="pic">
					{$goodData.body|htmlspecialchars_decode}
				</div>
			</div>
		</div>

		<div class="defineFoot clear">
			<span class="left">
				<a href="{:U('Home/Index/index',array('agent'=>AGENT_ID))}"><span><img src="__STYLE__/img/def01.png"/></span>首页</a>
				<b></b>
			</span>
			<span class="left">
				<a href="{:U('Agent/Collection/index')}"><span><img src="__STYLE__/img/def02.png"/></span>收藏夹</a>
			</span>
			<!-- 如果是代理商两个按钮 普通用户一个按钮 -->
			<php>if(session('AgentUser')){</php>
			<span class="right" style="width:25%;background: #C1B3A5;">
				<a type="procurement" class="mysubmit_">采购</a>
			</span>
			<span class="right" style="width:25%;">
				<a type="reservation" class="mysubmit_">预定</a>
			</span>
			<php>}else{</php>
			<span class="right">
				<a type="confirm" class="mysubmit_">确认购买</a>
			</span>
			<php>}</php>

		</div>

		
		<form id="detail_form" action="{:U('Home/Buy/cart')}">
		<!--选择弹窗-->
		<input type="hidden" name="goods_id" value="{$goodData.goods_id}"> <!-- 商品id -->
		<input type="hidden" name="agent_id" value="{$Think.get.agent||default=0}"> <!-- 如果当前商品属于代理商 传代理商id -->
		<input type="hidden" name="type" value=""> <!-- 提交类型 -->
		<!--选择弹窗-->
			<div class="popSelect">
				<div class="details">
					<div class="message">
						<span><img src="{$goodData.images}"/></span>
						<h1><em>￥{$goodData.price}</em>商品编号:{$goodData.goods_sn}</h1>
						<a href="javascript:;">×</a>
					</div>

					<style type="text/css">
						.amount_items .amount h2 span{display: inline-block;color: #ffffff;margin-left: 10px;}
						.amount_items .amount{display: none;}
						.amount_items .amount.choose{display: block;}
						.mes textarea{font-size: 0.24rem;background: #2f3336;outline: none;color: #ffffff;resize: none;padding:1% 2%;width: 92%;margin-top: 10px;}

						.mes textarea::-webkit-scrollbar {width: 10px;}
						/* Track */
						.mes textarea::-webkit-scrollbar-track {
						 -webkit-box-shadow: inset 0 0 6px #666666;
						 -webkit-border-radius: 10px;
						 border-radius: 10px;
						}
						/* Handle */
						.mes textarea::-webkit-scrollbar-thumb {
						 -webkit-border-radius: 10px;
						 border-radius: 10px;
						 background:#dedede;
						 -webkit-box-shadow: inset 0 0 6px #666666;
						}
						.mes textarea::-webkit-scrollbar-thumb:window-inactive {background:#666666;}
					</style>

					<div class="allStyle">
						<div class="colour">
							<h2>颜色</h2>
							<ul class="clear">
								<foreach name="colors" item="v" key="key">
    								<li data-color="{$key}">{$v}</li>
                               </foreach>
							</ul>
						</div>	
						<div class="amount_items">

						<!-- 数量选择 -->
						<foreach name="colors" item="v" key="key">
							<div class="amount mg">
								<h2>数量 <span>{$v}</span></h2>
								<div class="num">
									<b class="reduct">—</b>
									<input type="text" name="color[{$key}]" value="1" disabled="disabled"/>
									<b class="add">+</b>
								</div>
							</div>
						</foreach>	
						</div>
						<div class="colour mes">
							<h2>备注</h2>
							<textarea name="msg" placeholder="备注信息"></textarea>
						</div>	
					</div>
												
					<button type="button">确认</button>
				</div>
			</div>
		</form>
        <div id="goods_id" data-val="{$goodData.goods_id}"></div>
        <div id="AgentUser" data-val="{$Think.session.AgentUser}"></div>

		<script>

			$(function(){
				//收藏
                $('#collectIco').one('click', function () {
                    var goods_id = $('#goods_id').attr('data-val');
                    var agentUser = $('#AgentUser').attr('data-val');
                    var that = $(this);
                    $.post(
                        '{:U(collect)}',
                        {"agent_id":agentUser, "goods_id":goods_id},
                        function (data) {
                            if (data.code == 1) {
                                that.attr('src','__STYLE__/img/collectA.png');
                                that.next().css('color', '#7bc2ea');
                                that.next().text(parseInt(that.next().text())+1);
                            }
                               layer.msg(data.msg);
                        },
                        'json'
                    );
                });

				//选择弹窗
				$('.mySelect').click(function(){
					$('.popSelect').fadeIn();				
					$('html,body').css({'height':'100%','overflow':'hidden'});
				});
				$('.popSelect .message a').click(function(){
					$('.popSelect').hide();
					$('html,body').css('overflow','auto');
				});				

				//数量选择
				$('.popSelect .colour li').eq(0).addClass('on');
				$('.amount_items .amount').eq(0).find('input').removeAttr('disabled');
				$('.amount_items .amount').eq(0).addClass('choose');
				$('.popSelect .colour li').click(function(){
					var lilength = $('.amount_items .choose').length;//选中的个数
					var index=$(this).index();
					if($(this).hasClass('on')){
						if(lilength == 1){return;}//最少保留一个
						$(this).removeClass('on');
						$('.amount_items .amount').eq(index).removeClass('choose');
						$('.amount_items .amount').eq(index).find('input').attr('disabled',true);
					}
					else{
						$(this).addClass('on');
						$('.amount_items .amount').eq(index).addClass('choose');
						$('.amount_items .amount').eq(index).find('input').removeAttr('disabled');
					}	
					
				});
				
				
				$('.popSelect .reduct').click(function(){	
					var txtA =$(this).parent().find('input');
					var count = parseInt(txtA.val());
					if(count<=2){
						count=2;
						$(this).css('color','#545b61');
					}else{
						$(this).parent().find('b').css('color','#ffffff');
					};
					
					txtA.val(--count);
				});
				$('.popSelect .add').click(function(){	
					var txtA = $(this).parent().find('input');
					var count = parseInt(txtA.val());
					if(count>100){
						count=99;
						$(this).css('color','#545b61');
					}else{
						$(this).parent().find('b').css('color','#ffffff');
					};
					txtA.val(++count);
				});
				
				$('.popSelect button').click(function(){
					$('.popSelect').hide();
					$('html,body').css('overflow','auto');
				});
			});		
		</script>
	</body>
	<script type="text/javascript">
// 商品提交
$(document).ready(function (e) {
    $('#detail_form').on('submit',(function(e) {
    	if({$inventory} <= 0){layer.msg('此商品库存不足！');return false;}
    	if("{:session('AgentUser')}" == "{$Think.get.agent}"){layer.msg('不可购买自己的商品！');return false;}
        var formData = new FormData(this);
        formData['type'] = 1;
        e.preventDefault();
        $.ajax({
            type:'POST',
            url: $(this).attr('action'),
            data:formData,
            // cache:false,
            contentType: false,
            processData: false,

            success:function(data){
            	console.log(data)
               if(data.res == 1){
               		window.location.href=data.url;
               }
					layer.msg(data.msg)
            },
            error: function(data){
                layer.msg('网络错误！')
            }
        });
    }));

    $(".mysubmit_").on("click", function() {
    	var type = $(this).attr('type');
    	$('input[name=type]').val(type);
        $("#detail_form").submit();
    });


    $(document).keydown(function(event){ 
        if(event.keyCode == 13){
        	var type = $(this).attr('type');
    		$('input[name=type]').val(type);
        	$("#detail_form").submit();
        } 
     }); 
});




	</script>
</html>
