<include file="Public/header" /> <!-- 头部 -->
<div class="content">
<include file="Public/left" /> <!-- 左边 -->
 <div class="right" style="height: 894px;">
<div class="now" style="width: 1679px;">
	<a href="Site settings.html" class="sel">网站设置</a>
	<a href="Member settings.html">会员设置</a>
	<a href="Integral setting.html">积分设置</a>
	<a href="Express settings.html">快递设置</a>
	<a href="SMS settings.html">短信设置</a>
	<a href="Mailbox settings.html">邮箱设置</a>
	<a href="Notification settings.html">通知设置</a>
	<div class="clear"></div>

</div>
	<div class="right_main">
		<form method="post" enctype="multipart/form-data" action="__CONTROLLER__/editConfig">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wenzhang mat20">
		<tbody><tr>
			<td align="right" width="150">网站标题：</td>
			<td><input type="text" name="info[title]" value="{$configData.title}" class="inputall input500"></td>
		</tr>
		<tr>
			<td align="right">关 键 词：</td>
			<td><input type="text" name="info[keywords]" value="{$configData.keywords}" class="inputall input500"></td>
		</tr>
		<tr>
			<td align="right">网站描述：</td>
			<td><textarea name="info[description]" style="width:500px;height:100px;">{$configData.description}</textarea></td>
		</tr>
		<tr>
			<td align="right">网站Logo：</td>
			<td>
								<p class="mab5"><img src="__PUBLIC__/Admin/config/{$configData.logo}" height="60" style="border:1px solid #ddd"></p>
								<p><input type="file" name="logo"></p>
			</td>
		</tr>
		<tr>
			<td align="right">微信二维码：</td>
			<td>
								<p class="mab5"><img src="__PUBLIC__/Admin/config/{$configData.wechat}" height="70" style="border:1px solid #ddd"></p>
								<p><input type="file" name="wechat"></p>
			</td>
		</tr>
		<tr>
			<td align="right">咨询电话：</td>
			<td><input type="text" name="info[tel]" value="{$configData.tel}" class="inputall input500"></td>
		</tr>
		<tr>
			<td align="right">咨询 Q Q：</td>
			<td><input type="text" name="info[qq]" value="{$configData.qq}" class="inputall input500"></td>
		</tr>
		<tr>
			<td align="right">版权所有：</td>
			<td><input type="text" name="info[copyright]" value="{$configData.copyright}" class="inputall input500"></td>
		</tr>
		<tr>
			<td align="right">备 案 号：</td>
			<td><input type="text" name="info[record_no]" value="{$configData.record_no}" class="inputall input500"></td>
		</tr>
		<tr>
			<td align="right">热门搜索：</td>
			<td><input type="text" name="info[hot]" value="{$configData.hot}" class="inputall input500"><span class="c888">（多个请用“,”隔开）</span></td>
		</tr>
		<tr>
			<td align="right">统计代码：</td>
			<td><textarea name="info[count]" style="width:500px;height:150px;">{$configData.count}</textarea><span class="c888">（第三方流量统计代码）</span></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>
				<input type="submit" value="提 交" class="tjbtn">
			</td>
		</tr>
		</tbody></table>
		</form>
	</div>
</div>
	<div class="clear"></div>
</div>
<include file="Public/footer" /> <!-- 左边 -->
