<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" /> 
		<title>客户订单</title>
		<link rel="stylesheet" href="__STYLE__/css/public.css" />
		<link rel="stylesheet" href="__STYLE__/css/order.css" />
		<script type="text/javascript" src="__STYLE__/js/jquery-1.7.1.min.js" ></script>
		<script>document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';</script>
	</head>
	<body>
		<div class="header">
			<div class="mg">
				<a class="goback" href="javascript:history.back();"><img src="__STYLE__/img/back.png"/></a>
				<h1>客户订单</h1>
			</div>
		</div>
		<style type="text/css">
			
		</style>
		<div class="contains">						
			<div class="purchaseNav">
				<a href="javascript:;"><span><i>采购</i> ▼</span></a>
				<a href="{:U('Order/retail')}"><span>零售</span></a>
				<div class="slide_down">
					<a href="javascript:;"><span>预定</span></a>
					<a href="javascript:;"><span>采购</span></a>
				</div>
			</div>
			
			<div class="purchase">
				<!--采购-->
				<ul class="mg">
					<ol>
						<li>
							<h2>
								<span style="float: left;color: #c3a07d;">下级已确认</span>
								<span style="float: right;">商品编号:15462559</span>
							</h2>
							<div class="details clear">
								<a href=""><img src="__STYLE__/img/order_img.png"/></a>
								<div class="title">
									<h1><a href="">瑞士劳力士男表 日志型116233-63603G自动机械男士手表2</a></h1>
									<p><span>颜色：白壳黑面</span><span style="margin-left: 0.3rem;">数量：5</span></p>
								</div>
							</div>
							<div class="bottom">
								<a href="">已收款请发货</a>
							</div>					
						</li>
						<li>
							<h2>
								<span style="float: left;color: #c3a07d;">下级已确认</span>
								<span style="float: right;">商品编号:15462559</span>
							</h2>
							<div class="details clear">
								<a href=""><img src="__STYLE__/img/order_img.png"/></a>
								<div class="title">
									<h1><a href="">瑞士劳力士男表 日志型116233-63603G自动机械男士手表2</a></h1>
									<p><span>颜色：白壳黑面</span><span style="margin-left: 0.3rem;">数量：5</span></p>
								</div>
							</div>
							<div class="bottom">
								<a href="">已收款请发货</a>
							</div>					
						</li>
						<li>
							<h2>
								<span style="float: left;color: #c3a07d;">下级已确认</span>
								<span style="float: right;">商品编号:15462559</span>
							</h2>
							<div class="details clear">
								<a href=""><img src="__STYLE__/img/order_img.png"/></a>
								<div class="title">
									<h1><a href="">瑞士劳力士男表 日志型116233-63603G自动机械男士手表2</a></h1>
									<p><span>颜色：白壳黑面</span><span style="margin-left: 0.3rem;">数量：5</span></p>
								</div>
							</div>
							<div class="bottom">
								<a href="">已收款请发货</a>
							</div>					
						</li>
					</ol>
					<ol>
						<li>
							<h2>
								<span style="float: left;color: #c3a07d;">下级已确认</span>
								<span style="float: right;">商品编号:15462559</span>
							</h2>
							<div class="details clear">
								<a href=""><img src="__STYLE__/img/order_img.png"/></a>
								<div class="title">
									<h1><a href="">瑞士劳力士男表 日志型116233-63603G自动机械男士手表2</a></h1>
									<p><span>颜色：白壳黑面</span><span style="margin-left: 0.3rem;">数量：5</span></p>
								</div>
							</div>
							<div class="bottom">
								<a href="">已收款请发货</a>
							</div>					
						</li>
						<li>
							<h2>
								<span style="float: left;color: #c3a07d;">下级已确认</span>
								<span style="float: right;">商品编号:15462559</span>
							</h2>
							<div class="details clear">
								<a href=""><img src="__STYLE__/img/order_img.png"/></a>
								<div class="title">
									<h1><a href="">瑞士劳力士男表 日志型116233-63603G自动机械男士手表2</a></h1>
									<p><span>颜色：白壳黑面</span><span style="margin-left: 0.3rem;">数量：5</span></p>
								</div>
							</div>
							<div class="bottom">
								<a href="">已收款请发货</a>
							</div>					
						</li>
						<li>
							<h2>
								<span style="float: left;color: #c3a07d;">下级已确认</span>
								<span style="float: right;">商品编号:15462559</span>
							</h2>
							<div class="details clear">
								<a href=""><img src="__STYLE__/img/order_img.png"/></a>
								<div class="title">
									<h1><a href="">瑞士劳力士男表 日志型116233-63603G自动机械男士手表2</a></h1>
									<p><span>颜色：白壳黑面</span><span style="margin-left: 0.3rem;">数量：5</span></p>
								</div>
							</div>
							<div class="bottom">
								<a href="">已收款请发货</a>
							</div>					
						</li>
					</ol>	
				</ul>
				<!--零售-->
				<ul class="mg">
					

					
					<li>
						<h2>
							<span style="float: left;color: #c3a07d;">下级已确认</span>
							<span style="float: right;">商品编号:15462559</span>
						</h2>
						<div class="details clear">
							<a href=""><img src="__STYLE__/img/order_img.png"/></a>
							<div class="title">
								<h1><a href="">瑞士劳力士男表 日志型116233-63603G自动机械男士手表2</a></h1>
								<p><span>颜色：白壳黑面</span><span style="margin-left: 0.3rem;">数量：5</span></p>
							</div>
						</div>
						<div class="bottom">
							<a href="">已收款通知上家发货</a>
						</div>					
					</li>
					


				</ul>
			</div>
		</div>
		
		
		<!--返回顶部-->
		<div class="back_top">
			<img src="__STYLE__/img/back_top.png">
		</div>
		
		<script>
			$(function(){
				$('.purchaseNav a').eq(0).addClass('opt');
				$('.purchase ul').eq(1).css('display','none');
				$('.purchase ul ol').eq(1).show();
				// 选项卡切换
				$('.purchaseNav a').eq(1).click(function(){
					$(this).addClass('opt').siblings('a').removeClass('opt');
					$('.slide_down').hide();
					$('.purchase ul').hide().eq($(this).index()).fadeIn();
				});
				$('.purchaseNav a').eq(0).click(function(){
					if($(this).is('.opt')){
						$('.slide_down').toggle();
					}
					else{
						$(this).addClass('opt').siblings('a').removeClass('opt');
						$('.purchase ul').hide().eq($(this).index()).fadeIn();
					}
				});
				// 下拉栏切换
				$('.slide_down a').click(function(){
					var index=$(this).index();
					var txt=$(this).find('span').html();
					$('.opt span i').html(txt);
					$('.slide_down').hide();
					$('.purchase ul ol').hide().eq($(this).index()).fadeIn();;
					// $('.purchase ul ol').eq(index).show();
				})
				// 返回顶部
				$('.back_top').click(function(){
					$('html,body').animate({scrollTop:0},300)
				});
			});
		</script>
	</body>

	<script type="text/javascript">
function retail()
{
	alert(2)
}


	</script>
</html>
