<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="shortcut icon" href="/Public/favicon.ico" type="image/x-icon" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" /> 
		<title>客户订单</title>
		<link rel="stylesheet" href="__STYLE__/css/public.css" />
		<link rel="stylesheet" href="__STYLE__/css/order.css" />
		<script type="text/javascript" src="__STYLE__/js/jquery-1.7.1.min.js" ></script>
		<script type="text/javascript" src="__STYLE__/js/jquery.cookie.js"></script>
		<script type="text/javascript" src="__STYLE__/layer/layer.js"></script>
		<script>document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';</script>
	</head>
	<body>
		<div class="header">
			<div class="mg">
				<a class="goback" href="{:U('Index/index')}"><img src="__STYLE__/img/back.png"/></a>
				<h1>客户订单</h1>
			</div>
		</div>
		<style type="text/css">
			
		</style>
		<div class="contains">						
			<div class="purchaseNav">
				<a href="javascript:;"><span><i>采购</i> ▼</span></a>
				<a href="{:U('Order/retail')}"><span>零售</span></a>
				<div class="slide_down">
					<a href="javascript:;"><span>预定</span></a>
					<a href="javascript:;"><span>采购</span></a>
				</div>
			</div>
			
			<div class="purchase">
				<!--采购-->
				<ul class="mg">
					<ol id="data">
						<!-- 数据放置区 -->
					</ol>	
				</ul>
				<!--零售-->
				<ul class="mg">
					

				</ul>
			</div>
		</div>
		
		
		<!--返回顶部-->
		<div class="back_top">
			<img src="__STYLE__/img/back_top.png">
		</div>
		
		<script>
			$(function(){

				var arr = ['预定','采购'];
				$('.purchaseNav a').eq(0).find('span').find('i').html(arr[$.cookie('buy')])

				$('.purchaseNav a').eq(0).addClass('opt');
				// $('.purchase ul').eq(1).css('display','none');
				// $('.purchase ul ol').eq(1).show();
				// 选项卡切换
				$('.purchaseNav a').eq(1).click(function(){
					$(this).addClass('opt').siblings('a').removeClass('opt');
					// $('.slide_down').hide();
					$('.purchase ul').hide().eq($(this).index()).fadeIn();
				});
				$('.purchaseNav a').eq(0).click(function(){
					if($(this).is('.opt')){
						$('.slide_down').toggle();
					}
					else{
						$(this).addClass('opt').siblings('a').removeClass('opt');
						$('.purchase ul').hide().eq($(this).index()).fadeIn();
					}
				});
				// 下拉栏切换
				$('.slide_down a').click(function(){
					var index=$(this).index();
					var txt=$(this).find('span').html();
					$('.opt span i').html(txt);
					$('.slide_down').hide();
					// $('.purchase ul ol').hide().eq($(this).index()).fadeIn();;
					// $('.purchase ul ol').eq(index).show();
					$.cookie('buy',index);
					page = 0;//滚动分页
					re = 1;//ajax加载开关
					$('#data').html('');
					getdata();
				})
				// 返回顶部
				$('.back_top').click(function(){
					$('html,body').animate({scrollTop:0},300)
				});
			});
		</script>
	</body>
<script type="text/javascript">
var page = 0;//滚动分页
var re = 1;//ajax加载开关
var url = "{:U('Agent/Order/procurementdata')}";//默认url 点击分类后改变
function getdata()
{	
		var buy = $.cookie('buy');
		if(re != 1){return;}//上一次ajax没有回来就不执行请求
		re = 2;//关闭
		var index = layer.msg('正在加载...', {icon: 16,shade: [0.1,'#CECECE'],time:0});
		page = page + 1;
		$.get(url,{p:page, buy:buy},function(data){
               		if(data){
               			$('#data').append(data);
               			re = 1;//打开加载开关
               		}else{
               			layer.msg('没有了');
               			re = 2;//关闭加载开关
               		}
               		layer.close(index);//隐藏正在加载的图片

               	})
				
}
$(function(){
	getdata();//默认调用一次
})


//滚动时加载数据
window.onscroll=function(){
	var maxScroll = $(document).height()-$(window).height();//整个文档的高减去可视高=
    if ($(window).scrollTop() >= maxScroll || page == 1) {getdata();}
}
</script>
<script type="text/javascript">
function notice(order_sn,key,father_price)
{
	layer.confirm('请确认收到款后，在通知上家发货！确认后将从钱包扣除 '+father_price+' 元。',{
		 btn: ['确认','取消'] //按钮
	},function(){

			var index = layer.msg('正在处理请稍后...', {icon: 16,shade: [0.1,'#CECECE'],time:0});
			$.get("{:U('notice')}",{order_sn:order_sn},function(res){

				if(res.res == 1){
					$('.bottom'+key).remove();
					layer.msg(res.msg);
				}else{

					layer.msg(res);
				}
					layer.close(index);//隐藏正在加载的图片
			})

	},function(){
		// layer.msg('取消')
	})
}

</script>
<script type="text/javascript">
function delivery(order_sn,key){
		layer.confirm('请确认收到款后，在发货！',{
		 btn: ['确认','取消'] //按钮
	},function(){

			var index = layer.msg('正在处理请稍后...', {icon: 16,shade: [0.1,'#CECECE'],time:0});
			$.get("{:U('delivery')}",{order_sn:order_sn},function(res){

				if(res.res == 1){
					$('.bottom'+key).remove();
					layer.msg(res.msg);
				}else{

					layer.msg(res);
				}
					layer.close(index);//隐藏正在加载的图片
			})

	},function(){
		// layer.msg('取消')
	})
}

</script>
</html>
