<!DOCTYPE html>
<html>
<head>
	<title>我的</title>
		<link rel="shortcut icon" href="/Public/favicon.ico" type="image/x-icon" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="__STYLE__/css/public.css">
	<link rel="stylesheet" type="text/css" href="__STYLE__/css/user.css">
	<script type="text/javascript" src="__STYLE__/js/jquery-1.7.1.min.js"></script>
        <meta content="telephone=no" name="format-detection"> 
	<script>
		document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
		$(window).resize(function () {  
			document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
		 }) 
	</script>
</head>
<body>
	<div class="header">
		<!-- <a class="search" href="search.html"><img src="__STYLE__/img/search_icon.png"></a> -->
		<a class="back" href=""><img src="__STYLE__/img/back_last.png"></a>
		<i class="line"></i>
		<h3>我的</h3>
	</div>

	<div class="content">
		<div class="user">
			<img src="http://pan.baidu.com/share/qrcode?w=150&h=150&url=http://<?php echo $_SERVER['HTTP_HOST'];?>{:U('Home/Index/index')}">
			<h3>{$config.name}</h3>
			<p>账号：{$config.username}</p>
		</div>
		<div class="items">
			<div class="item">
				<a href="{:U('Home/Index/index',array('agent'=>$config['agent_id']))}">
					<img class="icon" src="__STYLE__/img/user_1.png">
					<img class="right" src="__STYLE__/img/user_0.png">
					<p>我的店铺</p>
				</a>
			</div>
			<div class="item">
				<a href="{:U('Money/index')}">
					<img class="icon" src="__STYLE__/img/user_2.png">
					<img class="right" src="__STYLE__/img/user_0.png">
					<p>钱包</p>
				</a>
			</div>
			<div class="item">
				<a href="{:U('Procurement/index')}">
					<img class="icon" src="__STYLE__/img/user_3.png">
					<img class="right" src="__STYLE__/img/user_0.png">
					<p>采购单</p>
				</a>
			</div>
			<!-- <div class="item">
				<a href="{:U('Procurement/index')}">
					<img class="icon" src="__STYLE__/img/user_3.png">
					<img class="right" src="__STYLE__/img/user_0.png">
					<p>采购订单</p>
				</a>
			</div> -->
			<div class="item">
				<a href="{:U('Order/index')}">
					<img class="icon" src="__STYLE__/img/customer_ico.png">
					<img class="right" src="__STYLE__/img/user_0.png">
					<p>客户订单</p>
				</a>
			</div>
			<div class="item">
				<a href="{:U('Goods/index')}">
					<img class="icon" src="__STYLE__/img/goods_ico.png">
					<img class="right" src="__STYLE__/img/user_0.png">
					<p>我的商品</p>
				</a>
			</div>
			<div class="item">
				<a href="{:U('Collection/index')}">
					<img class="icon" src="__STYLE__/img/user_4.png">
					<img class="right" src="__STYLE__/img/user_0.png">
					<p>收藏夹</p>
				</a>
			</div>
			<div class="item">
				<a href="{:U('User/index')}">
					<img class="icon" src="__STYLE__/img/user_5.png">
					<img class="right" src="__STYLE__/img/user_0.png">
					<p>我的代理商</p>
				</a>
			</div>
			<div class="item">
				<a href="{:U('Address/index')}">
					<img class="icon" src="__STYLE__/img/user_6.png">
					<img class="right" src="__STYLE__/img/user_0.png">
					<p>地址管理</p>
				</a>
			</div>
			<div class="item">
				<a href="{:U('Config/index')}">
					<img class="icon" src="__STYLE__/img/user_7.png">
					<img class="right" src="__STYLE__/img/user_0.png">
					<p>设置</p>
				</a>
			</div>

			<div class="item">
				<a href="{:U('Login/exitlogin')}">
					<img class="icon" src="__STYLE__/img/exit.png">
					<img class="right" src="__STYLE__/img/user_0.png">
					<p>退出登录</p>
				</a>
			</div>
			
		</div>
	</div>

	<div class="footer">
		<a href="{:U('Home/Index/index',array('agent'=>$config['father']))}">
			<img class="shadow" src="__STYLE__/img/index_icon.png">
			<img class="light" src="__STYLE__/img/index_icon_on.png">
			<span>首页</span>
		</a>
		<a href="{:U('Home/Recommended/index',array('agent'=>$config['father']))}">
			<img class="shadow" src="__STYLE__/img/tuijian_icon.png">
			<img class="light" src="__STYLE__/img/tuijian_icon_on.png">
			<span>推荐</span>
		</a>
		<a class="on" href="{:U('Agent/Index/index')}">
			<img class="shadow" src="__STYLE__/img/us_icon.png">
			<img class="light" src="__STYLE__/img/us_icon_on.png">
			<span>我的</span>
		</a>
	</div>
	<!-- <div class="back_top">
		<img src="__STYLE__/img/back_top.png">
	</div> -->
</body>
</html>
<script type="text/javascript">
	$(function(){
		// 返回顶部
		$('.back_top').click(function(){
			$('html,body').animate({scrollTop:0},300)
		})
	})
</script>
