<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="/Public/favicon.ico" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
        <title>{$config[name]}</title>
        <link rel="stylesheet" href="__STYLE__/css/public.css" />
        <link rel="stylesheet" href="__STYLE__/css/recommend.css" />
        <script type="text/javascript" src="__STYLE__/js/jquery-1.7.1.min.js" ></script>
        <script type="text/javascript" src="__STYLE__/layer/layer.js"></script>
        <script type="text/javascript" src="__STYLE__/js/jquery.cookie.js" ></script>
        <meta content="telephone=no" name="format-detection"> 
        <script>document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';</script>
    </head>
    <body>
        <div class="header">
            <div class="mg">
                <a class="goback" href="javascript:history.back();"><img src="__STYLE__/img/back.png"/></a>
                <h1>商品推荐</h1>
                <a class="search" href="{:U('Goods/search',array('agent'=>AGENT_ID))}"><img src="__STYLE__/img/search.png"/></a>
            </div>
        </div>

        <div class="contains">
            <div class="headNav">
                <div class="mg clear">
                    <ul>
                        <div class="typeList" style="float:left;">
                            <li <if condition="!$brandIcon"> class="on"</if> onclick="window.location.href='{:U('index',array('brand_id'=>$brand,'class_id'=>0,'agent'=>AGENT_ID))}'">全部</li>
                            <foreach name="classData" item="v">
                                <li onclick="window.location.href='{:U('index',array('brand_id'=>$brand,'class_id'=>$v['class_id'],'agent'=>AGENT_ID))}'"data-id="{$v.class_id}" <if condition="$brandIcon eq $v['class_id']"> class="on"</if> >{$v.name}</li>
                            </foreach>
                        </div>
                        <li id="priceOrder" >价格
                                            <php>if($sorting == 'price' || $sorting == 'agent_price'){</php>
                                                <img src="__STYLE__/img/down.png"/>
                                            <php>}else{</php>
                                                <img src="__STYLE__/img/down2.png"/>
                                            <php>}</php>
                                            </li>
                    </ul>
                    <a href="javascript:;"><img src="__STYLE__/img/afresh.png"/></a>
                </div>
            </div>

            <div class="goodsList">
                <!--两列显示-->
                <div class="twoCol mg">
                    <ul class="clear data">
                        <!-- 数据放置区 -->
                    </ul>
                </div>

                <!--一列显示-->
                <div class="oneCol">
                    <ul class="mg data">
                        <!-- 数据放置区 -->
                    </ul>
                </div>
            </div>

        </div>

        <div class="footer">
            <a href="{:U('Home/Index/index',array('agent'=>AGENT_ID))}">
                <img class="shadow" src="__STYLE__/img/index_icon.png">
                <img class="light" src="__STYLE__/img/index_icon_on.png">
                <span>首页</span>
            </a>
            <a class="on" href="{:U('Home/Recommended/index',array('agent'=>AGENT_ID))}">
                <img class="shadow" src="__STYLE__/img/tuijian_icon.png">
                <img class="light" src="__STYLE__/img/tuijian_icon_on.png">
                <span>推荐</span>
            </a>
            <a href="{:U('Agent/Index/index',array('agent'=>AGENT_ID))}">
                <img class="shadow" src="__STYLE__/img/us_icon.png">
                <img class="light" src="__STYLE__/img/us_icon_on.png">
                <span>我的</span>
            </a>
        </div>

        <!--二维码-->
        <div class="qrCode">
            <span><img src="__STYLE__/img/QR.png"/></span>
        </div>

        <!--返回顶部-->
        <div class="back_top">
            <img src="__STYLE__/img/back_top.png">
        </div>
        <script>

            // 排序
            $('#priceOrder').click(function () {
              var url =  "{:U('index',array('brand_id'=>$brand,'class_id'=>$class,'agent'=>AGENT_ID,'sorting'=>$sorting))}";
              window.location.href = url;
            });

                $(function(){
                //排版列表
                if($.cookie('typography') == 'oneCol'){
                    $('.goodsList .oneCol').show();
                    $('.goodsList .twoCol').hide();
                }else{
                    $('.goodsList .twoCol').show();
                    $('.goodsList .oneCol').hide();
                }


                $('.headNav a').click(function(){
                    if($.cookie('typography') == 'twoCol'){
                         $.cookie('typography','oneCol',{expires:7,path:'/'});
                        $('.goodsList .oneCol').show();
                        $('.goodsList .twoCol').hide();
                    }else{
                        $.cookie('typography','twoCol',{expires:7,path:'/'});
                        $('.goodsList .twoCol').show();
                        $('.goodsList .oneCol').hide();
                    }
                });

                //二维码
                
                $('.qrCode').click(function(){
                    $(this).fadeOut();
                });

                // 返回顶部
                $('.back_top').click(function(){
                    $('html,body').animate({scrollTop:0},300)
                });

            });
        </script>


    </body>
<script type="text/javascript">
var page = 0;//滚动分页
var re = 1;//ajax加载开关
var url = "{:U('datalist',array('brand_id'=>$brand,'class_id'=>$class,'agent'=>AGENT_ID,'sorting'=>$sorting))}";//默认url 点击分类后改变
function getdata()
{   
        if(re != 1){return;}//上一次ajax没有回来就不执行请求
        re = 2;//关闭
        var index = layer.msg('正在加载...', {icon: 16,shade: [0.1,'#CECECE'],time:0});
        page = page + 1;
        $.get(url,{p:page ,order:$.cookie('order')},function(data){
                    if(data){
                        $('.data').append(data);
                        re = 1;//打开加载开关
                    }else{
                        layer.msg('没有了');
                        re = 2;//关闭加载开关
                    }
                    layer.close(index);//隐藏正在加载的图片

                })
                
}
$(function(){
    getdata();//默认调用一次
})

//滚动时加载数据
window.onscroll=function(){
    var maxScroll = $(document).height()-$(window).height();//整个文档的高减去可视高=
    if ($(window).scrollTop() >= maxScroll || page == 1) {getdata();}
}
</script>
<script type="text/javascript">
//收藏
function collectIco(obj,goods_id,agentUser)
{
   var imgsrc = '__STYLE__/img/start_icon_on.png';
   var agent = {:AGENT_ID};
    $.post("{:U('Goods/collect')}",{"agent_id":agentUser, "goods_id":goods_id,'agent':agent},function (data) {
            if (data.code == 1) {
                // window.location.reload();
                $(obj).attr('src',imgsrc);
                $('.num_'+goods_id).html(parseInt($('.num_'+goods_id).html()) + 1);

            }
            layer.msg(data.msg);
        })
        
}


//二维码
function code(obj){
    $('.qrCode').fadeIn();
    var url = $(obj).attr('imgurl');
    $('.qrCode>span>img').attr('src',url);
}
</script>
</html>
