body{background: #1d2124;}
.header{position: fixed;top: 0;left:0;width: 100%;height: 0.88rem;line-height: 0.88rem;background: #13171a;}
.header h3{color: #c3a07d;font-size: 0.36rem;padding:0 0.88rem;}
.header a{display: block;float: right;width: 0.88rem;height: 0.88rem;text-align: center;}
.header a img{width: 0.35rem;}

.header a.back{float: left;}
.header .line{display: block;height: 0.4rem;width: 1px;background: #5C666D;position: absolute;left: 0.76rem;top: 0.26rem;}

.content{margin: 0.87rem 0 1rem;}
.banner img{width: 100%;}
.txt{background: #2f3336;padding: 0.2rem 0.2rem 0 0.2rem;}

.txt h3 a{color: #FFFFFF;font-size: 0.32rem; overflow: hidden;line-height: 1.5;}
.txt p{color: #545b61;font-size: 0.30rem;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;  }
.txt .start{display: block;width: 0.35rem;height:0.35rem;background: url(../img/start_icon.png) no-repeat;background-size: 100%;float: left;margin-top: 0.1rem;margin-right: 0.1rem;}
.txt .bottom{overflow: hidden;}
.txt .bottom_right.on{color: #7bc2ea;}
.txt .bottom_right.on .start{background: url(../img/start_icon_on.png) no-repeat;background-size: 100%;}

.bdsharebuttonbox{float: right;}
.bdshare-button-style1-32{margin: 0.22rem 0 0 0.2rem;}
.bdshare-button-style1-32 a{margin: 6px;background: url(../img/collect_share.png) no-repeat !important;background-size: 100% !important;width: 0.35rem !important;height: 0.35rem !important;line-height: 0.35rem !important;}
.bdshare_popup_box{display: none !important;}