<foreach name="data" item="v">
	<li>
		<a href="{:U('Home/goods/goodDetail',array('goods_id'=>$v['agent_goods_id'],'agent'=>session('AgentUser')))}"><img src="__STYLE__/img/firm.jpg"/></a>
		<div class="details">
			<h1><a href="">{$v['name']}</a></h1>
			<p>商品编号:{$v['goods_sn']}</p>
			<h2>批价:<em>￥{$v['agent_price']}</em></h2>
			<span class="clear">									
				<div class="collect">
					<!-- <b>165</b>{:$_SERVER[HTTP_HOST]} -->
					<img onclick="window.location.href='{:U('Procurement/editor',array('goods'=>$v['agent_goods_id']))}'" src="__STYLE__/img/edit.png"/>								
				</div>	
				<div class="code" onclick="code({$v[agent_goods_id]},{:session('AgentUser')})"><img src="__STYLE__/img/code.png"/></div>
			</span>
		</div>
	</li>
</foreach>