<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta content="telephone=no" name="format-detection"> 
		<link rel="shortcut icon" href="/Public/favicon.ico" type="image/x-icon" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" /> 
		<title>采购单</title>
		<link rel="stylesheet" href="__STYLE__/css/public.css" />
		<link rel="stylesheet" href="__STYLE__/css/purchase.css" />
		<script type="text/javascript" src="__STYLE__/js/jquery-1.7.1.min.js" ></script>
		<script type="text/javascript" src="__STYLE__/layer/layer.js" ></script>
		<script type="text/javascript" src="__STYLE__/js/jquery.cookie.js" ></script>
		<script>document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';$(window).resize(function(){document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';})</script>
	</head>
	<body>
		<div class="header">
			<div class="mg">
				<a class="goback" href="{:U('Agent/Index/index')}"><img src="__STYLE__/img/back.png"/></a>
				<h1>采购单</h1>
			</div>
		</div>
		
		<div class="contains">						
			<div class="purchaseNav clear">
				<a href="javascript:;" data-buy="0" ><span>预订</span></a>
				<a href="javascript:;" data-buy="1" ><span>购买</span></a>
			</div>
			
			<div class="purchase">
				<!--预订-->
				<ul class="mg" id="data0">


				<!-- 数据放置区 -->

					
				</ul>
				
				<!--购买-->
				<ul class="mg" id="data1">
					
					<!-- 放置数据区 -->
					
				</ul>
			</div>
		</div>
		
		<!--解除提示-->
		<div class="purchaseTip unwoundTip">
			<div class="details">
				<h1>确定解除此商品？</h1>
				<span class="clear">
					<a class="cancel" href="javascript:;">取消</a>
					<a class="confirm" href="javascript:;">确认</a>
				</span>
			</div>
		</div>
		
		<!--删除提示-->
		<div class="purchaseTip deleteTip">
			<div class="details">
				<h1>确定删除此商品信息？</h1>
				<span class="clear">
					<a class="cancel" href="javascript:;">取消</a>
					<a class="confirm" href="javascript:;">确认</a>
				</span>
			</div>
		</div>
		
		<!--返回顶部-->
		<div class="back_top">
			<img src="__STYLE__/img/back_top.png">
		</div>
		
		<script>
			$(function(){
				$('.purchaseNav a').eq(0).addClass('opt');
				$('.purchase ul').eq(1).css('display','none');
				$('.purchaseNav a').click(function(){
					$(this).addClass('opt').siblings('a').removeClass('opt');
					$('.purchase ul').hide().eq($(this).index()).fadeIn();
					$('#data0').html('');
					$('#data1').html('');
					arr = ['data0','data1'];
					page = 0;//滚动分页
					re = 1;//ajax加载开关
					dataid = arr[$(this).attr('data-buy')];
					buy = $(this).attr('data-buy');
					getdata();

				});
				
				//解除删除
				$('.purchaseTip .cancel').click(function(){
					$('.purchaseTip').fadeOut();
				});
				$('.purchase .unwound').click(function(){
					indexA = $(this).parent('.handle').parent('li').index();
					$('.unwoundTip').fadeIn();
				});				
				$('.unwoundTip .confirm').click(function(){
					$('.purchase ul').eq(0).find('li').eq(indexA).remove();
					$('.unwoundTip').fadeOut();
				});
				$('.purchase .delete').click(function(){
					indexB = $(this).parent('.handle').parent('li').index();
					$('.deleteTip').fadeIn();
				});				
				$('.deleteTip .confirm').click(function(){
					$('.purchase ul').eq(1).find('li').eq(indexB).remove();
					$('.deleteTip').fadeOut();
				});
				
				// 返回顶部
				$('.back_top').click(function(){
					$('html,body').animate({scrollTop:0},300)
				});
			});
		</script>
	</body>
	<script type="text/javascript">
var page = 0;//滚动分页
var re = 1;//ajax加载开关
var url = "{:U('Agent/Procurement/ajaxlist')}";//默认url 点击分类后改变
var dataid = 'data0';
var buy = 0;
function getdata()
{	
		if(re != 1){return;}//上一次ajax没有回来就不执行请求
		re = 2;//关闭
		var index = layer.msg('正在加载...', {icon: 16,shade: [0.1,'#CECECE'],time:0});
		page = page + 1;
		$.get(url,{p:page, buy:buy},function(data){
               		if(data){
               			$('#'+dataid).append(data);
               			re = 1;//打开加载开关
               		}else{
               			layer.msg('没有了');
               			re = 2;//关闭加载开关
               		}
               		layer.close(index);//隐藏正在加载的图片

               	})
				
}
$(function(){
	getdata();//默认调用一次
})


//滚动时加载数据
window.onscroll=function(){
	var maxScroll = $(document).height()-$(window).height();//整个文档的高减去可视高=
    if ($(window).scrollTop() >= maxScroll || page == 1) {getdata();}
}
</script>
<script type="text/javascript">


function remove(order_sn,key)
{
	layer.confirm('解除将会删除对应的商品，商品货款将会退回您的钱包！您确定要解除吗？',{
		 btn: ['确认','取消'] //按钮
	},function(){

			var index = layer.msg('正在处理请稍后...', {icon: 16,shade: [0.1,'#CECECE'],time:0});
			$.get("{:U('remove')}",{order_sn:order_sn},function(res){

				if(res.res == 1){
					$('.list'+key).remove();
					layer.msg(res.msg);
				}else{

					layer.msg(res);
				}
					layer.close(index);//隐藏正在加载的图片
			})

	},function(){
		// layer.msg('取消')
	})
}


</script>
<script type="text/javascript">
function deletes(order_sn,key)
{
	layer.confirm('删除此订单会同时删除对应的商品，你确认要删除吗？',{
		 btn: ['确认','取消'] //按钮
	},function(){

			var index = layer.msg('正在处理请稍后...', {icon: 16,shade: [0.1,'#CECECE'],time:0});
			$.get("{:U('deletes')}",{order_sn:order_sn},function(res){

				if(res.res == 1){
					$('.list'+key).remove();
					layer.msg(res.msg);
				}else{

					layer.msg(res);
				}
					layer.close(index);//隐藏正在加载的图片
			})

	},function(){
		// layer.msg('取消')
	})
}

</script>
</html>
