<include file="Public/header" /> <!-- 头部 -->
<div class="content">
<include file="Public/left" /> <!-- 左边 -->
<div class="right" style="height: 894px;">
	<div class="now" style="width: 1679px;">
		<a href="A-Order list.html" class="sel">全部订单（135）</a>
		<a href="Waiting for payment.html">等待付款（81）</a>
		<a href="Awaiting delivery.html">等待发货（19）</a>
		<a href="Shipped.html">已发货（8）</a>
		<a href="Completion of transaction.html">交易完成（9）</a>
		<a href="Transaction closed.html">交易关闭（18）</a>
		<div class="clear"></div>
	</div>
	<div class="right_main">
		<div class="search">
			<form method="get">
				<input type="hidden" name="mod" value="order">
				<input type="hidden" name="state" value="">
				订单编号：<input type="text" name="id" value="" class="inputtext input100 mar5">
				姓名：<input type="text" name="user_tname" value="" class="inputtext input80 mar5">
				电话：<input type="text" name="user_phone" value="" class="inputtext input80 mar5">
				帐号：<input type="text" name="user_name" value="" class="inputtext input80 mar5">
				下单时间：<input type="text" name="date1" value="" onfocus="WdatePicker({dateFmt:&#39;yyyy-MM-dd&#39;})" class="Wdate inputtext" style="width:90px;height:20px;">
				至 <input type="text" name="date2" value="" onfocus="WdatePicker({dateFmt:&#39;yyyy-MM-dd&#39;})" class="Wdate inputtext" style="width:90px;height:20px;">
				<input type="submit" value="搜索" class="input_btn">
			</form>
		</div>
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="list">
		<tbody><tr>
			<th class="bgtt" style="border-bottom:0;">商品详情</th>
			<th class="bgtt" style="border-bottom:0;" width="111">实付款(元)</th>
			<th class="bgtt" style="border-bottom:0;" width="251">收货信息</th>
			<th class="bgtt" style="border-bottom:0;" width="81">支付/发货</th>
			<th class="bgtt" style="border-bottom:0;" width="86">状态</th>
			<th class="bgtt" style="border-bottom:0;" width="86">操作</th>
		</tr>
		</tbody></table>
		<!-- start -->
 <!-- 1 -->
		<foreach name="orderData" item="vo">
			<div class="hy_ordertw c666 mat10">
				订单编号：<span class="num" style="margin-right:60px">{$vo.order_sn}</span>
				下单时间：<span class="num">{$vo.time}</span>
			</div>

			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="hy_orderlist">
				<tbody><tr>
					<td class="aleft" style="border-left:0;padding-left:10px;padding-right:15px">
						<div class="dingdan_list" style="padding-top:0">
							<a href="http://phpshe.com/demo/phpshe/product/42" class="fl mar5" target="_blank"><img src="{$vo.images}" width="40" height="40" class="imgbg"></a>
							<div class="fl">
								<a href="http://phpshe.com/demo/phpshe/product/42" title="{$vo.goods_name}" target="_blank" class="cblue dd_name">{$vo.goods_name}</a>
								<p class="c999 mat5">[&nbsp;&nbsp;&nbsp;主要颜色：<foreach name="vo['goods_color']" item="v" key="k">{$v}({$vo.color_num.$k}只)&nbsp;&nbsp;&nbsp;</foreach>]&nbsp;&nbsp;</p>
							</div>
							<span class="fr"><span class="num">{$vo.goods_price}</span>(×{$vo.goods_num})</span>
							<div class="clear"></div>
						</div>
					</td>
					<td width="110">
						<p class="corg num strong">{$vo.count_price}</p>
						<!--<p class="c999">（含运费：0.0）</p>-->
						<p class="c999">{$vo.pay_way}</p>
					</td>
					<td width="250" class="aleft" valign="top" style="color:#555">
						<p>【姓名】{$vo.username} <span class="c888">({$vo.mobile})</span></p>
						<p>【地址】{$vo.address}</p>
						<p>【留言】<span class="c888">{$vo.msg}</span></p>
					</td>
					<td width="80">
						<img src="__STYLE__/images/fu_<if condition='$vo.pay_status eq 0'>0<else />1</if>.png" title="">
						<img src="__STYLE__/images/huo_<if condition='$vo.shipping_status eq 0'>0<else />1</if>.png" title="">
						<!--<p><a href="Express order.html" class="cblue" onclick="return pe_dialog(this, &#39;打印快递单&#39;, 1000, 600)">[快递单]</a></p>-->
					</td>
					<td width="85"><span class="corg">未定</span><p class="mat5"><a href="__CONTROLLER__/orderDetail/order_id/{$vo.order_id}" class="c999">订单详情</a></p></td>
					<td width="85" style="border-right:0;">
						<a class="tag_org" href="" onclick="return pe_dialog(this, &#39;订单付款&#39;, 600, 340, &#39;order_pay&#39;)">未定</a>
						<p class="mat5"><a href="Cancellation of order.html" onclick="return pe_dialog(this, &#39;取消订单&#39;, 600, 430, &#39;order_close&#39;)" class="c999">取消订单</a></p>
					</td>
				</tr>
				</tbody>
			</table>
		</foreach>
<!-- 1 -->



			<!-- 3 -->
						<div class="hy_ordertw c666 mat10">
			订单编号：<span class="num" style="margin-right:60px">170812150457105</span>
			下单时间：<span class="num">2017-08-12 15:04</span>
		</div>

		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="hy_orderlist">
		<tbody><tr>
			<td class="aleft" style="border-left:0;padding-left:10px;padding-right:15px">
								<div class="dingdan_list" style="padding-top:0">
					<a href="http://phpshe.com/demo/phpshe/product/43" class="fl mar5" target="_blank"><img src="__STYLE__/images/thumb_100x100_20170503142610z.jpg" width="40" height="40" class="imgbg"></a>
					<div class="fl">
						<a href="http://phpshe.com/demo/phpshe/product/43" title="phpshe测试商品韩版女装夏装新款V领显瘦系带条纹衬衫" target="_blank" class="cblue dd_name">phpshe测试商品韩版女装夏装新款V领显瘦系带条...</a>
												<p class="c999 mat5">[尺码：S]&nbsp;&nbsp;[主要颜色：萱草蓝]&nbsp;&nbsp;</p>
											</div>
					<span class="fr"><span class="num">108.0</span>(×1)</span>
					<div class="clear"></div>
				</div>
							</td>
			<td width="110">
				<p class="corg num strong">108.0</p>
				<p class="c999">（含运费：0.0）</p>
				<p class="c999">微信支付</p>
			</td>
			<td width="250" class="aleft" valign="top" style="color:#555">
				<p>【姓名】体育界 <span class="c888">(13545678901)</span></p>
				<p>【地址】河北石家庄桥西区横膈膜内的</p>
				<p>【留言】<span class="c888"></span></p>
			</td>
			<td width="80">
				<img src="__STYLE__/images/fu_1.png" title="2017-08-15 15:08">
				<img src="__STYLE__/images/huo_0.png" title="">
				<p><a href="Express order.html" class="cblue" onclick="return pe_dialog(this, &#39;打印快递单&#39;, 1000, 600)">[快递单]</a></p>
			</td>
			<td width="85"><span class="corg">等待发货</span><p class="mat5"><a href="Order details.html" target="_blank" class="c999">订单详情</a></p></td>
			<td width="85" style="border-right:0;">
								<a class="tag_blue" href="Consignment page.html" onclick="return pe_dialog(this, &#39;填写发货信息&#39;, 600, 430, &#39;order_send&#39;)">发 货</a>
				<p class="mat5"><a href="Cancellation of order.html" onclick="return pe_dialog(this, &#39;取消订单&#39;, 600, 430, &#39;order_close&#39;)" class="c999">取消订单</a></p>
							</td>
		</tr>
		</tbody></table>
		<!--3  -->

			</div>
			<!-- end -->
	<div class="right_bottom">
		<span class="fr fenye"><a href="http://phpshe.com/demo/phpshe/admin.php?mod=order&amp;page=1">首页</a><a href="http://phpshe.com/demo/phpshe/admin.php?mod=order&amp;page=1" class="sel">1</a><a href="http://phpshe.com/demo/phpshe/admin.php?mod=order&amp;page=2">2</a><a href="http://phpshe.com/demo/phpshe/admin.php?mod=order&amp;page=3">3</a><a href="http://phpshe.com/demo/phpshe/admin.php?mod=order&amp;page=4">4</a><a href="http://phpshe.com/demo/phpshe/admin.php?mod=order&amp;page=5">5</a><a href="http://phpshe.com/demo/phpshe/admin.php?mod=order&amp;page=6">6</a><a href="http://phpshe.com/demo/phpshe/admin.php?mod=order&amp;page=7">7</a><a href="http://phpshe.com/demo/phpshe/admin.php?mod=order&amp;page=7">末页</a><style type="text/css">
.fenye{text-align:right;}
.fenye a{border:1px #ccc solid; padding:0 10px; border-radius:2px; color:#666; background:#fff;display:inline-block;  height:24px; line-height:24px; font-weight:normal; margin-left:3px;}
.fenye a:hover,.fenye .sel{background:#1DABDF; color:#fff; border:1px #0D95C7 solid;  padding:0 10px;}
.fenye .sel{ font-weight:bold;}
</style></span>
		<div class="clear"></div>
	</div>
</div>
<script type="text/javascript" src="__STYLE__/js/WdatePicker.js"></script>
	<div class="clear"></div>
	<!--<div class="foot">Copyright <span class="num">©</span> 2008-2014 <a target="_blank" href="http://www.phpshe.com">灵宝简好网络科技有限公司</a> 版权所有</div>-->
</div>
<script type="text/javascript">
function win_init() {
	$(".left").add(".right").css("height", $(window).height() - $(".pagetop").height());
	$(".now").css("width", $(".right_main").outerWidth());
	//$(".right_main").css("height", $(window).height() -  $(".pagetop").height() - $(".now:eq(0)").outerHeight() - $(".right_bottom").outerHeight() + 38);
}
$(function(){
	if ($(".right_bottom").height() == 0) {
		$(".right_bottom").remove();
	}
	win_init();
	$(window).resize(function() {
		win_init();
	});
	$(".list").find("td").hover(
		function(){
			if ($(this).hasClass("bgtt") || $(this).is("[nosel=1]")) return;
			$(this).parent("tr").children("td[nosel!=1]").css("background-color", "#fbfbfb");
		},
		function(){
			if ($(this).hasClass("bgtt") || $(this).is("[nosel=1]")) return;
			$(this).parent("tr").children("td[nosel!=1]").css("background-color", "#fff");
		}
	)
})
pe_loadscript("http://phpshe.com/demo/phpshe/index.php?mod=notice");
</script>

</body></html>
