<include file="Public/header" /> <!-- 头部 -->
<div class="content">
<include file="Public/left" /> <!-- 左边 -->
<div class="right" style="height: 894px;">
	<div class="now" style="width: 1696px;">
		<a href="javascript:;" class="sel">修改品牌</a>
		<div class="clear"></div>
	</div>
	<div class="right_main">
		<form method="post" enctype="multipart/form-data" action="__CONTROLLER__/editBrand">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wenzhang mat20 mab20">
		<tbody><tr>
			<td align="right" width="150">品牌名称：</td>
			<td><input type="text" name="info[name]" value="{$brandContent.name}" class="inputall input300"></td>
		</tr>
		<tr>
			<td align="right">品牌图片：</td>
			<td>
				<div>
					<img src="{$brandContent.logo}" class="fl" style="border:1px solid #ddd;width:140px;height:56px">
					<span class="c999 fl mat15 mal10">（140*56）</span>
					<div class="clear"></div>
				</div>
				<p class="mat5"><input type="file" name="logo"></p>
			</td>
		</tr>
		<!-- <tr>
			<td align="right">品牌简介：</td>
			<td><textarea name="info[brand_text]" style="width:550px;height:180px;">测试品牌1测试品牌1测试品牌1测试品牌1测试品牌1</textarea></td>
		</tr> -->
		<tr>
			<td align="right">品牌排序：</td>
			<td><input type="text" name="info[sorting]" value="{$brandContent.sorting}" class="inputall input60"></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>
                <input type="hidden" name="brand_id" value="{$brandContent.brand_id}">
				<input type="hidden" name="pe_token" value="22f76c2bb6608575e45b33d1d4e70126">
				<input type="submit" value="提 交" class="tjbtn">
			</td>
		</tr>
		</tbody></table>
		</form>
	</div>
</div>
	<div class="clear"></div>
	<!--<div class="foot">Copyright <span class="num">©</span> 2008-2014 <a target="_blank" href="http://www.phpshe.com">灵宝简好网络科技有限公司</a> 版权所有</div>-->
</div>
<include file="Public/footer" />
<script type="text/javascript">
$(function(){
	if ($(".right_bottom").height() == 0) {
		$(".right_bottom").remove();
	}
	if ($(".list tr").length > 1) {
		$(".right_main").css("padding-bottom", 0);
	}
	win_init();
	$(window).resize(function() {
		win_init();
	});
	if ($(".left .sel").length) {
		$(".left").scrollTop(localStorage.getItem('left_scrolltop'));
	}
	else {
		localStorage.setItem('left_scrolltop', 0);
	}
	$(".left").scroll(function(){
		localStorage.setItem('left_scrolltop', $(".left").scrollTop());
	})
	$(".list").find("td").hover(
		function(){
			if ($(this).hasClass("bgtt") || $(this).is("[nosel=1]")) return;
			$(this).parent("tr").children("td[nosel!=1]").css("background-color", "#fbfbfb");
		},
		function(){
			if ($(this).hasClass("bgtt") || $(this).is("[nosel=1]")) return;
			$(this).parent("tr").children("td[nosel!=1]").css("background-color", "#fff");
		}
	)
})
function win_init() {
	$(".left").add(".right").css("height", $(window).height() - $(".pagetop").height());
	$(".now").css("width", $(".right_main").outerWidth());
	//$(".right_main").css("height", $(window).height() -  $(".pagetop").height() - $(".now:eq(0)").outerHeight() - $(".right_bottom").outerHeight() + 38);
}
pe_loadscript("http://phpshe.com/demo/phpshe/index.php?mod=notice");
</script>

</body></html>
