/**********公共样式************/
*{margin:0;padding:0;-webkit-tap-highlight-color:transparent;}
body,button,input,select,textarea{font:14px/2 Verdana, 微软雅黑, Helvetica, sans-serif;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;margin: 0px;}
address,cite,dfn,em,var,i{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;word-wrap: break-word; white-space: normal;}
small{font-size:12px;}
ul,ol{list-style:none;}
a{cursor: pointer;text-decoration: none!important;outline: none;border: 0;star:expression(this.onFocus=this.blur());}
a:link,a:visited{color: deepskyblue;text-decoration:none;}
a:focus {outline:none;}
a:active{outline: none;star:expression(this.onFocus=this.blur());border: 0;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
fieldset{border:0;}
legend{color:#666;}
img{vertical-align:middle;border:0 none;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
b{font-weight: normal;}

.mg{width: 93.6%;margin: 0 auto;}
.clear{clear: both;overflow: hidden;}

