<include file="Public/header" /> <!-- 头部 -->
<div class="content">
<include file="Public/left" /> <!-- 左边 -->
<div class="right" style="height: 849px;">
	<div class="now" style="width: 831px;">
		<a href="Member list.html" class="sel">会员列表（54）</a>
		<a href="Collection account.html">收款账户（9）</a>
		<a href="Delivery address.html">收货地址（9）</a>
		<a href="{:U('User/add')}" id="fabu">添加代理商</a>
		<div class="clear"></div>
	</div>
	<div class="right_main">
		<div class="search">
			<form method="get">
				<input type="hidden" name="mod" value="user">
				用户名：<input type="text" name="name" value="" class="inputtext input100 mar5">
				联系电话：<input type="text" name="phone" value="" class="inputtext input100 mar5">
				常用邮箱：<input type="text" name="email" value="" class="inputtext input150">
				<select name="orderby" class="selectmini">
				<option value="" href="?mod=user">= 默认排序 =</option>
												<option value="ltime|desc" href="?mod=user&amp;orderby=ltime|desc">1)最近登录</option>
								<option value="point|desc" href="?mod=user&amp;orderby=point|desc">2)最多积分</option>
								<option value="ordernum|desc" href="?mod=user&amp;orderby=ordernum|desc">3)最多订单</option>
								</select>
				<input type="submit" value="搜索" class="input_btn">
			</form>
		</div>
		<form method="post" id="form">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="list">
		<tbody><tr>
			<th class="bgtt" width="20"><input type="checkbox" name="checkall" onclick="pe_checkall(this, &#39;user_id&#39;)"></th>
			<th class="bgtt" width="50">ID号</th>
			<th class="bgtt">用户名</th>
			<th class="bgtt" width="80">余额
			</th><th class="bgtt" width="80">状态</th>
			<th class="bgtt" width="60">订单数
			</th><th class="bgtt" width="90">联系电话</th>
			<!-- <th class="bgtt" width="160">常用邮箱</th> -->
			<th class="bgtt" width="70">注册日期</th>
			<th class="bgtt" width="70">上次登录</th>
			<th class="bgtt" width="200">操作</th>
		</tr>
		<foreach name="data" item='v'>
		<tr>
			<td style="background-color: rgb(255, 255, 255);"><input type="checkbox" name="user_id[]" value="60"></td>
			<td class="num" style="background-color: rgb(255, 255, 255);">{$v['id']}</td>
			<td style="background-color: rgb(255, 255, 255);">{$v['username']}</td>
			<td style="background-color: rgb(255, 255, 255);"><span class="num corg">{$v['money']}元</span></td>
			<td class="num" style="background-color: rgb(255, 255, 255);">
				<a href="{:U('status',array('agent_id'=>$v['id'],'status'=>$v['status']))}">
					<img src="__STYLE__/images/<?php echo $v['status']?'dui':'cuo'; ?>.png">
				</a>
			</td>
			<td class="num" style="background-color: rgb(255, 255, 255);"><a href="http://phpshe.com/demo/phpshe/admin.php?mod=order&amp;user_id=60" class="cblue" target="_blank">1</a></td>
			<td class="num" style="background-color: rgb(255, 255, 255);">{$v['mobile']}</td>
			<!-- <td class="num" style="background-color: rgb(255, 255, 255);">1161192196@qq.com</td> -->
			<td class="num" style="background-color: rgb(255, 255, 255);"><span>{:date('Y-m-d H:i:s',$v['addtime'])}</span></td>
			<td class="num" style="background-color: rgb(255, 255, 255);"><span>19小时前</span></td>
			<td>

				<a href="{:U('update',array('id'=>$v['id']))}" class="admin_edit mar3">修改</a>
				<a href="admin.php?mod=user&act=del&id=27&token=0a1f23ba1dc927c624b740dd555c29e5" class="admin_del mar3" onclick="return pe_cfone(this, '删除')">删除</a>
				<a href="Collection account.html" class="admin_btn mar3" target="_blank">账户</a>
				<a href="Delivery address.html" class="admin_btn" target="_blank">地址</a>
			</td>

		</tr>
		</foreach>
		</tbody>
		</table>
		</form>
	</div>
	<div class="right_bottom">
		<span class="fl mal10">
			<input type="checkbox" name="checkall" onclick="pe_checkall(this, &#39;user_id&#39;)">
			<button href="admin.php?mod=user&amp;act=del&amp;token=bc127a40363dfcec978226909f4e8f2e" onclick="return pe_cfall(this, &#39;user_id&#39;, &#39;form&#39;, &#39;批量删除&#39;)">批量删除</button>
			<!--<input type="button" value="批量发送邮件" id="sendemail" />-->
		</span>
		<span class="fr fenye">
		{$page}<style type="text/css">
.fenye{text-align:right;}
.fenye a,.fenye span{border:1px #ccc solid; padding:0 10px; border-radius:2px; color:#666; background:#fff;display:inline-block;  height:24px; line-height:24px; font-weight:normal; margin-left:3px;}
.fenye a:hover,.fenye .current{background:#1DABDF; color:#fff; border:1px #0D95C7 solid;  padding:0 10px;}
.fenye .current{ font-weight:bold;}
</style></span>
		<div class="clear"></div>
	</div>
</div>
	<div class="clear"></div>
</div>
<include file="Public/footer" /> <!-- 左边 -->